/* заметка, закладки, альбом, наклейка, скрепка, бумажка с алфавитом */
.frame1{
  position: relative;
  width: 100vw;
  height: 108vw;
  overflow-x: hidden;}

  .alphabet{
    position: absolute;
    width: 50vw;
    height: 100vw;
    left: 54vw;
    top: 4vw;
    overflow: hidden;
    z-index: 1;
    }
    .alphabetImg{
      width: 100vw;
      animation: group 3s steps(1) infinite;
    }
  @keyframes group {
    0% {transform: translateX(0vw);}
    50% {transform: translateX(-53.57vw) rotate(30deg);}
  }

  .note{
    position: absolute;
    left: -1%;}
    .noteImg {
      position: absolute;
      width: 57vw;}
    .notetext{
      margin-top: 5.5vw;
      margin-left: 6.5vw;
      width: 33vw;
      height: 24.8vw;
      overflow: hidden;
      position: absolute;}
    .notetextImg {
      position: absolute;
      width: 205vw;
      animation: notetext 6s steps(1) infinite;}
  @keyframes notetext{
      0% {transform: translateX(0vw)}
      5% {transform: translateX(-34.65vw)}
      10% {transform: translateX(-69.3vw)}
      15% {transform: translateX(-103.95vw)}
      20% {transform: translateX(-138.6vw)}
      25% {transform: translateX(-173.25vw)}
      30% {transform: translateY(-27.8vw) translateX(0vw)}
      35% {transform: translateY(-27.8vw) translateX(-34.65vw)}
      40% {transform: translateY(-27.8vw) translateX(-69.3vw)}
      45% {transform: translateY(-27.8vw) translateX(-103.95vw)}
      50% {transform: translateY(-27.8vw) translateX(-138.6vw)}
      55% {transform: translateY(-27.8vw) translateX(-173.25vw)}
      60% {transform: translateY(-55.6vw) translateX(0vw)}
      65% {transform: translateY(-55.6vw) translateX(-34.65vw)}
      70% {transform: translateY(-55.6vw) translateX(-69.3vw)}
      75% {transform: translateY(-55.6vw) translateX(-103.95vw)}
      80% {transform: translateY(-55.6vw) translateX(-138.6vw)}
      85% {transform: translateY(-55.6vw) translateX(-173.25vw)}
      /* 100% {transform: translateY(-55.6vw) translateX(-173.25vw)} */
    }

  .bookmarks{
    position: absolute;
    display: flex;
    width: 56vw;
    margin-left: 44vw;
    margin-top: -1%;
    z-index: 2;}
    .bookmark1Img,.bookmark2Img,.bookmark3Img,.bookmark4Img,.bookmark5Img{
      position: relative;
      display: flex;
      margin-left: 3vw;
      width: 7.5vw;}
    .paw1Img, .paw2Img, .paw3Img, .paw4Img, .paw5Img{
      position: absolute;
      margin-top: -20%;
      margin-left: 5%;}

      .paw1Img {
        width: 8vw;
      }
        .paw1Img:hover {
          width: 8vw;
          transform: rotate(360deg);
          transition: 1.6s;
        }

      .paw2Img {
        width: 8vw;
      }
        .paw2Img:hover {
        width: 8vw;
        transform: scaleX(1.1) scaleY(1.7);
        transition: 0.4s;
      }

      .paw3Img {
        width: 8vw;
      }
        .paw3Img:hover {
          width: 8vw;
          transform: skewX(-25deg) skewY(15deg) scale(1.2);
          transition: 0.4s;
        }

      .paw4Img {
        width: 8vw;
      }
        .paw4Img:hover {
          width: 8vw;
          transform: translateY(-60%);
          transition: 0.6s;
        }

      .paw5Img {
        width: 8vw;
      }
        .paw5Img:hover {
          width: 8vw;
          transform: rotate(-180deg) scale(0.5);
          transition: 1.2s;
          }

  .clip{
    position: absolute;
    display: flex;
    left: 82vw;
    top: 60vw;}
    .clipImg{
    position: absolute;
    width: 13vw;
    animation: clip 1.6s alternate infinite ease-in;}
  @keyframes clip {
    30% {transform: translate3d(-10px, 0, 0) rotate(-10deg);}
    100% {transform: translate3d(1000px, 0, 0) rotate(320deg);}
  }

  .album{
    position: absolute;
    width: 55vw;
    transform:rotate(30deg);
    left: 34vw;
    top: 38vw;
    z-index: 3;}
    .albumImg{
      position: absolute;
      width: 52vw;
      animation: album 3s steps(1) infinite;}
  @keyframes album {
    0% {background-size: 52vw;
      background-image: url(images/album1.svg);}
    15% {background-size: 52vw;
      background-image:url(images/album2.svg);}
    30% {background-size: 52vw;
      background-image:url(images/album3.svg);}
    45% {background-size: 52vw;
      background-image:url(images/album4.svg);}
    60% {background-size: 52vw;
      background-image:url(images/album5.svg);}
    75% {background-size: 52vw;
      background-image:url(images/album6.svg);}
    90% {background-size: 52vw;
      background-image:url(images/album7.svg);}
    to {background-size: 52vw;
      background-image:url(images/album8.svg);}
  }

  .sticker{
    position: absolute;
    transform: rotate(300deg);
    width: 55vw;
    left: -14vw;
    top: 40vw;}

    .stickerImg {
      position: absolute;
      width: 24vw;
    }

    .stickerpaw1Img{
      opacity: 0.9;
      transform: translateY(-25%);
      position: absolute;
      width: 3vw;
      left: 14.8vw;
      top: 0.9vw;
    }
      .stickerpaw1Img:hover{
        transform: translateY(0%);
        opacity: 1;
        transition: 0.5s;
      }

    .stickerpaw2Img{
      opacity: 0.9;
      transform: translateY(-35%);
      position: absolute;
      width: 3vw;
      left: 4vw;
      top: 1.45vw;
    }
      .stickerpaw2Img:hover{
        transform: translateY(0%);
        opacity: 1;
        transition: 0.5s;
      }

    .stickerpaw3Img{
      opacity: 0.9;
      transform: translateY(25%);
      position: absolute;
      width: 3vw;
      left: 12.3vw;
      top: 0.6vw;
    }
      .stickerpaw3Img:hover{
        transform: translateY(0%);
        opacity: 1;
        transition: 0.5s;
      }

    .stickerpaw4Img{
      opacity: 0.9;
      transform: translateY(35%);
      position: absolute;
      width: 3vw;
      left: 9vw;
      top: 1.5vw;
    }
      .stickerpaw4Img:hover{
        transform: translateY(0%);
        opacity: 1;
        transition: 0.5s;
      }

    .stickerpaw5Img{
      opacity: 0.9;
      transform: translateY(35%);
      position: absolute;
      width: 2.6vw;
      left: 19.2vw;
      top: 1.3vw;
    }
      .stickerpaw5Img:hover{
        transform: translateY(0%);
        opacity: 1;
        transition: 0.5s;
      }

    .stickerpaw6Img{
      opacity: 0.9;
      transform: translateY(35%);
      position: absolute;
      width: 2.8vw;
      left: 6.7vw;
      top: 0.9vw;
    }
      .stickerpaw6Img:hover{
        transform: translateY(0%);
        opacity: 1;
        transition: 0.5s;
      }

/* палитра, тетрадь, блокнот с картинкой, бумажка с расписанием */
.frame2{
  position: relative;
  top:-40vw;
  width: 100vw;
  height: 115vw;
  overflow-x: hidden;}

  .schedule{
    position: absolute;
    top:20vw;
    width: 58vw;}
    .scheduleImg{
      left: -38vw;
      position: absolute;
      width: 58vw;}

        .scheduleImg:hover{
          animation: schedule 6s infinite linear;}
  @keyframes schedule {
    0% {
      background-size: 58vw;
      background-repeat: no-repeat;
      transform: translateX(0vw);
      background-image: url(images/schedule.svg);
    }
    1% {
      background-size: 58vw;
      background-repeat: no-repeat;
      transform: translateX(5vw);
      background-image: url(images/schedulewithout.svg);
    }
    25% {
      background-size: 58vw;
      background-repeat: no-repeat;
      transform: translateX(35vw);
      background-image:url(images/schedulewith.svg);
    }
    50% {
      background-size: 58vw;
      background-repeat: no-repeat;
      transform: translateX(37vw);
      background-image:url(images/schedulewith.svg);}
    100% {
      background-size: 58vw;
      background-repeat: no-repeat;
      transform: translateX(37vw);
      background-image:url(images/schedulewith.svg);}
    }

  .covernote{
    position: absolute;
    transform: rotate(30deg);
    top:0vw;
    left:70vw;
    width: 70vw;}
    .covernoteImg{
      position: absolute;
      width: 75vw;
      animation: cover 20s steps(1) alternate infinite;}
  @keyframes cover {
      0% {
        background-size: 75vw;
        background-repeat: no-repeat;
        background-image: url(images/cover1.svg);
      }
      25% {
        background-size: 75vw;
        background-repeat: no-repeat;
        background-image: url(images/cover2.svg);
      }
      50% {
        background-size: 75vw;
        background-repeat: no-repeat;
        background-image:url(images/cover3.svg);
      }
      75% {
        background-size: 75vw;
        background-repeat: no-repeat;
        background-image:url(images/cover4.svg);}
    }

  .notebook{
    position: absolute;
    top:43vw;
    left: -6vw;}
    .notebookImg{
      z-index: 1;
      position: absolute;
      width: 65vw;}
  .lines{
      z-index: 3;
      top:11vw;
      left: 16.5vw;
      width: 35vw;
      height: 40vw;
      overflow: hidden;
      transform: rotate(15.5deg);
      position: absolute;}
    .lineImg{
      z-index: 3;
      margin-left: -3vw;
      margin-top: -2vw;
      width: 320vw;
      animation: lines 10s steps(1) infinite;}
  @keyframes lines {
    0% {transform: translateX(0vw) }
    2% {transform: translateX(-35.1vw)}
    4% {transform: translateX(-70.2vw)}
    6% {transform: translateX(-105.3vw)}
    8% {transform: translateX(-140.4vw)}
    10% {transform: translateX(-175.5vw)}
    12% {transform: translateX(-210.6vw)}
    14% {transform: translateX(-245.7vw)}
    16% {transform: translateX(-280.8vw)}
    18% {transform: translateY(-40.52vw) translateX(0vw)}
    20% {transform: translateY(-40.52vw) translateX(-35.1vw)}
    22% {transform: translateY(-40.52vw) translateX(-70.2vw)}
    24% {transform: translateY(-40.52vw) translateX(-105.3vw)}
    26% {transform: translateY(-40.52vw) translateX(-140.4vw)}
    28% {transform: translateY(-40.52vw) translateX(-175.5vw)}
    30% {transform: translateY(-40.52vw) translateX(-210.6vw)}
    32% {transform: translateY(-40.52vw) translateX(-245.7vw)}
    34% {transform: translateY(-40.52vw) translateX(-280.8vw)}
    36% {transform: translateY(-81.02vw) translateX(0vw)}
    38% {transform: translateY(-81.02vw) translateX(-35.1vw)}
    40% {transform: translateY(-81.02vw) translateX(-70.2vw)}
    42% {transform: translateY(-81.02vw) translateX(-105.3vw)}
    44% {transform: translateY(-81.02vw) translateX(-140.4vw)}
    46% {transform: translateY(-81.02vw) translateX(-175.5vw)}
    48% {transform: translateY(-81.02vw) translateX(-210.6vw)}
    50% {transform: translateY(-81.02vw) translateX(-245.7vw)}
    52% {transform: translateY(-81.02vw) translateX(-280.8vw)}
    54% {transform: translateY(-121.52vw) translateX(0vw)}
    56% {transform: translateY(-121.52vw) translateX(-35.1vw)}
    58% {transform: translateY(-121.52vw) translateX(-70.2vw)}
    60% {transform: translateY(-121.52vw) translateX(-105.3vw)}
    62% {transform: translateY(-121.52vw) translateX(-140.4vw)}
    64% {transform: translateY(-121.52vw) translateX(-175.5vw)}
    66% {transform: translateY(-121.52vw) translateX(-210.6vw)}
    68% {transform: translateY(-121.52vw) translateX(-245.7vw)}
    70% {transform: translateY(-121.52vw) translateX(-280.8vw)}
    72% {transform: translateY(-162.02vw) translateX(0vw)}
    74% {transform: translateY(-162.02vw) translateX(-35.1vw)}
    76% {transform: translateY(-162.02vw) translateX(-70.2vw)}
    98% {transform: translateY(-162.02vw) translateX(-105.3vw)}
  }

  .palette{
    position: relative;
    top:43vw;
    width: 100vw;
    left: -6vw;}

    .paletteImg{
      z-index: 1;
      position: absolute;
      top: 49vw;
      left: 51vw;
      width: 62vw;}

      .redImg{
        z-index: 1;
        position: absolute;
        width: 13vw;
        top: 93vw;
        left: 63vw;
      }
      .blueImg{
        z-index: 1;
        position: absolute;
        width: 10vw;
        top: 56vw;
        left: 80vw;
      }
      .orangeImg{
        z-index: 1;
        position: absolute;
        width: 13vw;
        top: 77vw;
        left: 58vw;
      }
      .yellowImg{
        z-index: 1;
        position: absolute;
        width: 12vw;
        top: 62vw;
        left: 64vw;
      }
        .yellow2Img{
          z-index: 1;
          position: absolute;
          width: 11vw;
          top: 100vw;
          left: 78vw;
        }
    .notebookredImg, .notebookblueImg, .notebookorangeImg, .notebookyellowImg{
      opacity:0;
      position: absolute;
      top:47.86vw;
      left: -0.95vw;
      width: 54.9vw;}

      .redImg:hover ~ .notebookredImg{
        z-index: 2;
        opacity: 1;
        transition: 0.1s linear;}
      .blueImg:hover ~ .notebookblueImg{
        z-index: 2;
        opacity: 1;
        transition: 0.1s linear;}
      .orangeImg:hover ~ .notebookorangeImg{
        z-index: 2;
        opacity: 1;
        transition: 0.1s linear;}
      .yellowImg:hover ~ .notebookyellowImg{
        z-index: 2;
        opacity: 1;
        transition: 0.1s linear;}
        .yellow2Img:hover ~ .notebookyellowImg{
          z-index: 2;
          opacity: 1;
          transition: 0.1s linear;}

/* скрепка2/3, а4, цыпленок, бумажка с пунктами, курица с глазом, бумажки скрепленные */
.frame3{
  position: relative;
  top:-70vw;
  width: 100vw;
  height: 250vw;
  overflow-x: hidden;}

    .a4{
      z-index: 0;
      position: absolute;
      transform: rotate(15deg);
      top:0vw;
      left:18vw;
      width: 60vw;}
      .a4Img{
        position: absolute;
        width: 61vw;
        animation: a4 3s steps(1) infinite;}
    @keyframes a4 {
      0% {
        background-position: right;
        background-size: 61vw;
        background-repeat: no-repeat;
        background-image: url(images/a4-2.svg);
      }
      25% {
        background-position: right;
        background-size: 61vw;
        background-repeat: no-repeat;
        background-image: url(images/a4-3.svg);
      }
      50% {
        background-position: right;
        background-size: 61vw;
        background-repeat: no-repeat;
        background-image:url(images/a4-4.svg);
      }
      75% {
        background-position: right;
        background-size: 61vw;
        background-repeat: no-repeat;
        background-image:url(images/a4-5.svg);}
      }

    .clip2{
      z-index: 1;
      position: absolute;
      left: 84vw;
      top: 35vw;}
      .clip2Img{
      position: absolute;
      width: 9vw;
      animation: clip2 1.8s alternate infinite ease-in;}
    @keyframes clip2 {
      30% {transform: translate3d(-15px, 0, 0) rotate(-20deg);}
      100% {transform: translate3d(800px, 0, 0) rotate(500deg);}
    }

    .clip3{
      position: absolute;
      left: 5vw;
      top: 25vw;}
      .clip3Img{
      position: absolute;
      width: 9vw;
      animation: clip3 2.2s alternate infinite ease-in-out;}
    @keyframes clip3 {
      55% {transform: translate3d(15px, 0, 0) rotate(10deg);}
      100% {transform: translate3d(-160px, 0, 0) rotate(-340deg);}
    }

    .paper{
      position: absolute;
      top:22vw;
      left: 45vw;
      width: 58vw;}

      .paperImg{
        width: 58vw;
        animation: paper 5s steps(1) alternate infinite;}
    @keyframes paper {
      0% {
        background-size: 50vw;
        background-repeat: no-repeat;
        transform: translateY(0vw) translateX(0vw) rotate(0deg);
        background-image: url(images/paper1.svg);
      }
      15% {
        background-size: 40vw;
        background-repeat: no-repeat;
        transform: translateY(10vw) translateX(5vw) rotate(60deg);
        background-image: url(images/paper2.svg);
      }
      30% {
        background-size: 50vw;
        background-repeat: no-repeat;
        transform: translateY(5vw) translateX(10vw) rotate(120deg);
        background-image:url(images/paper3.svg);
      }
      45% {
        background-size: 40vw;
        background-repeat: no-repeat;
        transform: translateY(15vw) translateX(10vw) rotate(180deg);
        background-image: url(images/paper1.svg);
      }
      70% {
        background-size: 50vw;
        background-repeat: no-repeat;
        transform: translateY(5vw) translateX(10vw) rotate(240deg);
        background-image: url(images/paper2.svg);
      }
      85% {
        background-size: 40vw;
        background-repeat: no-repeat;
        transform: translateY(10vw) translateX(5vw) rotate(300deg);
        background-image:url(images/paper3.svg);
      }
      100% {
        background-size: 50vw;
        background-repeat: no-repeat;
        transform: translateY(0vw) translateX(0vw) rotate(0deg);
        background-image: url(images/paper1.svg);
      }
